@import 'src/assets/styles/mixins/dialog';
@import 'src/assets/styles/variables';

@include dialog();

.dialog {
  min-width: 600px;
  &__header {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.form {
  width: 600px;

  &__buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__control {
    width: 100%;
  }

  @media screen and (max-width: map-get($breakpoints, tablet)) {
    width: 250px;
  }
}
