<section class="dialog">
  <h3 class="dialog__header">
    {{data?.prize ? 'Edycja nagrody' : 'Dodawanie nagrody'}}
  </h3>
  <button
    (click)="close()"
    class="dialog__close"
  >
    <span class="material-icons">
      close
    </span>
  </button>

  <form
    *ngIf="formGroup"
    class="form"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
  >
    <app-control-input
      class="form__control"
      [formControl]="getControl('name')"
      [name]="'Nazwa'"
    ></app-control-input>

    <div class="form__buttons">
      <button
        myButton
        [appearance]="'secondary'"
        type="button"
        (click)="close()"
      >
        <span>Anuluj</span>
      </button>
      <button myButton type="submit">
        <span>Zapisz</span>
      </button>
    </div>
  </form>
</section>
