@import 'src/assets/styles/variables';

:host {
  display: block;
  width: 100%;
}

.form-field {
  display: block;
  width: 100%;

  &.mat-form-field-invalid {
    ::ng-deep {
      .mat-form-field-subscript-wrapper {
        padding: 0;
      }
    }
  }

  &__icon {
    cursor: pointer;
    color: map-get($colors, font-light);
    font-size: 16px;
    width: 16px;
    height: 16px;
    transition: color 0.3s;

    &:hover {
      color: map-get($colors, primary);
    }
  }

  &__error {
    overflow-x: hidden;
    hyphens: auto;
    display: block;
    width: 100%;
    overflow: visible;
    text-align: justify;
  }

  &__suffix {
    padding-left: 5px;
    display: inline-flex;

    &--float {
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
    }

    &--percentage {
      top: -4px;
      right: 10px;
      position: relative;
    }
  }
}

::ng-deep {
  .input__text {
    .mat-form-field-appearance-outline .mat-form-field-suffix {
      top: 0 !important;
      right: 5px;
    }
  }
}

.clear {
  position: absolute;
  z-index: 2;
  transform: translateY(-50%);

  &__icon {
    cursor: pointer;
    color: map-get($colors, font-light);
    font-size: 16px;
    width: 16px;
    height: 16px;
    transition: color 0.3s;

    &:hover {
      color: map-get($colors, primary);
    }
  }

  &--float {
    top: 50%;
    right: -10px;
  }

  &--with-suffix {
    top: 53%;
    right: -25px;
  }
}

.copy {
  position: absolute;
  z-index: 2;
  right: 0;
  background: white;
  padding: 5px;
  top: 12px;

  &__icon {
    cursor: pointer;
    color: map-get($colors, primary);
    font-size: 16px;
    width: 16px;
    height: 16px;
    transition: color 0.3s;

    &:hover {
      color: map-get($colors, primary);
    }
  }

  &--float {
    top: 50%;
    right: -10px;
  }

  &--with-suffix {
    top: 53%;
    right: -25px;
  }
}

input.mat-input-element {
  line-height: 1.3;
}
