@import 'src/assets/styles/variables';

@mixin module-title() {
  .title-container {
    margin-bottom: 35px;
  }

  .title {
    font-size: 28px;
    line-height: 33px;
    color: map-get($colors, font-base);
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 22px;
    color: map-get($colors, primary);
  }
}
